.nav-item .text-white:hover {
    color: #8e8fa0 !important;
}
.text-center {
    background-image: url(../images/background-big.jpg);
    background-image: url(../images/background-big.webp);
    background-size: cover;
}

.cover-container {
    max-width: 768px;
}

.height {
    min-height: 100vh;
}

.height-75 {
    min-height: 75vh;
}

@font-face {
    font-family: 'komika_axisregular';
    src: url('../font-komika/komikax_-webfont.woff2') format('woff2'),
         url('../font-komika/komikax_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'komika_axisregular', Arial, sans-serif;
}
